{% extends "layout.html" %}
{% block title %}
  HydLearn
{% endblock %}

{% block main %}

<div id="myCarousel" class="carousel slide mb-0" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/photo1.avif" alt="HydLearn" >
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Learn new skills</h1>
            <p class="opacity-75">Engage with experts and fellow learners in our interactive webinars.</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Start Learning Now</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="/static/photo1.avif" alt="HydLearn">
        <div class="container">
          <div class="carousel-caption">
            <h1>Join our webinars</h1>
            <p class="opacity-75">Enhance your knowledge with our wide range of online courses.</p>
            <p><a class="btn btn-lg btn-primary" href="/courses">Explore Courses</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/photo1.avif" alt="HydLearn">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Access anytime, anywhere</h1>
            <p class="opacity-75">Enjoy the flexibility of accessing course materials at your convenience.</p>
            <p><a class="btn btn-lg btn-primary" href="/register">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>      

{% endblock %}